<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="RegisterAPIcheck" verbose="1" parallel = "methods" thread-count="9">

   
  <test name="Register API Validation">
    <classes>
      <class name="craftsvilla.assignment.RegisterApiCheck"/>      
    </classes>
    
   </test>
   
</suite>